* {
  margin: 0;
}

.content-container {
  text-align: center;
  width: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.input-title {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-description {
  width: 100%;
  padding: 10%;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  margin-top: 15px;
}
ul {
  padding: 0;
}

li {
  text-align: left;
  background-color: rgb(247, 247, 81);
  border-radius: 10px;
  list-style: none;
  padding: 20px 0;
  margin: 20px;
}

li:hover {
  transform: scale(1.05);
}

li p,
h2,
button {
  margin-left: 30px;
}
