* {
  margin: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  text-align: center;
  border: 1px solid #e76f51;
  border-radius: 10px;
  box-shadow: 0px 18px 58px -11px rgba(0, 0, 0, 0.75);
  width: 600px;
  background-color: #e76f51;
  padding: 20px;
}
.form-container h2 {
  margin-bottom: 15px;
}

.input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.forgot-password {
  cursor: pointer;
  color: #007bff;
}

.forgot-password:hover {
  color: #0056b3;
}

button {
  width: 100%;
  margin: 10px 0;
  padding: 6px;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 18px 44px -20px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}
